@model SweetDreams.Web.Models.NavbarModel
<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar top-nav-collapse ">
     <div class="container">
          <a href="@Url.Action("Index","Home")" class="navbar-brand">PATRIA "Sweet Dreams"</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="
				#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="
				Toggle Navigation">
               <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="basicExampleNav">
               <ul class="navbar-nav mr-auto smooth-scroll">
                    <li class="nav-item">
                         <a href="@string.Format($"{Url.Action("Index", "Home")}#filmes")" class="nav-link waves-effect waves-light">Фильмы</a>
                    <li class="nav-item">
                         <a href="#news" class="nav-link waves-effect waves-light">Новости</a>
                    <li class="nav-item">
                         <a href="@Url.Action("Index", "AboutUs")" class="nav-link waves-effect waves-light">Наш кинотеатр</a>
                    </li>
               </ul>

               <ul class="navbar-nav nav-flex-icons">
                    @if (User.Identity.IsAuthenticated)
                    {
                         if (Model.User.Role == "admin")
                         {
                              <li class="nav-item">
                                   <a href="@Url.Action("Index", "Admin")" class="nav-link waves-effect waves-light">
                                        Admin Page
                                   </a>
                              </li>
                         } else
                         {
                              <li class="nav-item">
                                   <a href="@Url.Action("Tickets", "Account")" class="nav-link waves-effect waves-light">
                                        Мои билеты
                                   </a>
                              </li>
                         }
                         <li class="nav-item">
                              <a href="@Url.Action("Logout", "Account")" class="nav-link waves-effect waves-light">
                                   Выйти из аккаунта
                              </a>
                         </li>
                    }
                    else
                    {
                         <li class="nav-item">
                              <a href="#login" class="nav-link waves-effect waves-light" data-toggle="modal"
                                 data-target="#modalLoginForm">
                                   <i class="fas fa-sign-in-alt"></i>
                              </a>
                         </li>
                         <li class="nav-item">
                              <a href="#register" class="nav-link waves-effect waves-light" data-toggle="modal"
                                 data-target="#modalRegisterForm">
                                   <i class="fas fa-registered"></i>
                              </a>
                         </li>
                    }
               </ul>
          </div>
     </div>
</nav>